:root {
  --bg: #EDF7F6;
  --darkblue: #2D3047;
  --red: #E84855;
  --orange: #FF9B71;
}


body{
  background-color: var(--bg);
  color: var(--darkblue)
}

h1{
  font-size: 40px;
  color: var(--red);
  text-shadow: -1px 0 var(--darkblue), 0 1px var(--darkblue), 1px 0 var(--darkblue), 0 -1px var(--darkblue);
  text-align: center;
}

h2{
  font-size: 20px;
  color: var(--darkblue);
  margin: -5px;
  text-align: center;
}

a{
  text-decoration: none;
}

button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  border: none;
  background: none;
}

.star{
  font-size: 24px;
}
.filled{
  color: var(--orange);
}
.not-filled{
  color: var(--darkblue);
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card{
  width: 30%;
  margin: 15px;
  padding: 5px;
  border: solid;
  border-width: 4px;
  border-radius: 15px;
  border-color: var(--red);
  color: var(--darkblue);
  box-shadow: var(--darkblue) 4px 4px 0 0;
  cursor: pointer;
}

.card:hover {
  border-color: var(--orange);
}

.card:active {
  box-shadow: var(--darkblue) 2px 2px 0 0;
  transform: translate(2px, 2px);
}


.button {
  background-color: var(--bg);
  border: 2px solid var(--darkblue);
  border-radius: 30px;
  box-shadow: var(--darkblue) 4px 4px 0 0;
  color: var(--darkblue);
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-color: var(--orange);
}

.button:active {
  box-shadow: var(--darkblue) 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button {
    min-width: 120px;
    padding: 0 25px;
  }
}

input{
  background-color: var(--bg);
  border: 2px solid var(--darkblue);
  border-radius: 30px;
  color: var(--darkblue);
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
}