:root {
  --bg: #EDF7F6;
  --darkblue: #2D3047;
  --red: #E84855;
  --orange: #FF9B71;
}


body{
  background-color: var(--bg);
  color: var(--darkblue)
}

body.background{
  background-image: url("https://gateway.pinata.cloud/ipfs/QmWAFa8LCuXfb4sqw1CoaqWdqFneDudktNGTJngwNY4WEP");
  background-size: 1400px;
  height: 2500;
}

h1{
  font-size: 40px;
  color: var(--red);
  text-shadow: -1px 0 var(--darkblue), 0 1px var(--darkblue), 1px 0 var(--darkblue), 0 -1px var(--darkblue);
  text-align: center;
}

h1.home{
  color: var(--bg);
}

h2{
  font-size: 20px;
  color: var(--darkblue);
  margin: -5px;
  text-align: center;
}

img{
  object-fit: cover;
  object-position: 50% 0
}

a{
  text-decoration: none;
}

button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  border: none;
  background: none;
}

.star{
  font-size: 24px;
}
.filled{
  color: var(--orange);
}
.not-filled{
  color: var(--darkblue);
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.smallcontainer{
  width: 50%;
  margin-left: 15px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

div.sidebyside {
  display: flex;
  justify-content: center;
}

.card{
  width: 30%;
  margin: 15px;
  padding: 5px;
  border: solid;
  border-width: 4px;
  border-radius: 15px;
  border-color: var(--orange);
  color: var(--darkblue);
  background-color: antiquewhite;
  box-shadow: var(--darkblue) 4px 4px 0 0;
}

a.card{
  cursor: pointer;
}

a.card:hover {
  border-color: var(--red);
}

a.card:active {
  box-shadow: var(--darkblue) 2px 2px 0 0;
  transform: translate(2px, 2px);
}

div.card {
  margin: 10px;
  width: 90%;
  border-color:var(--red);
}

div.image {
  border: solid;
  border-width: 4px;
  border-radius: 6px;
  border-color:var(--red);
  background-color: black;
  box-shadow: var(--darkblue) 4px 4px 0 0;
}


div.container_actor_names {
  width: 90%;
  margin: auto;
  width: -webkit-fit-content;
  height: -webkit-fit-content;
  justify-content: center;
}

div.affiche {
  display:flex;
  margin: 15px;
  width: -webkit-fit-content;
  height: -webkit-fit-content;
  justify-content: left;
}

div.actors {
  display:flex;
  margin: 15px;
  width: -webkit-fit-content;
  height: -webkit-fit-content;
  justify-content: center;
  border: solid;
  border-width: 4px;
  border-radius: 6px;
  border-color:var(--red);
}

.actor {
  width: 200px;
  height: 200px;
}

div.actor_names {
  margin: auto;
  display:flex;
  width: 200px;
  float: left;
  background-color: antiquewhite;
  justify-content: center;
  border-radius: 1ch; 
  border-color:var(--red);
}

.button {
  background-color: var(--bg);
  border: 2px solid var(--darkblue);
  border-radius: 30px;
  box-shadow: var(--darkblue) 4px 4px 0 0;
  color: var(--darkblue);
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-color: var(--orange);
}

.button:active {
  box-shadow: var(--darkblue) 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button {
    min-width: 120px;
    padding: 0 25px;
  }
}

input{
  background-color: var(--bg);
  border: 2px solid var(--darkblue);
  border-radius: 30px;
  color: var(--darkblue);
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
}
